<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "1"
        version   = "1">
    <name>Green Munchies </name>

    <description>
       Green Munchies
    </description>
        
    <preference name="android-minSdkVersion" value="14" />

 <manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tk.greenmunchies"
          android:sharedUserId="2"
          android:sharedUserLabel="string resource" 
          android:versionCode="1"
          android:versionName="Green"
          android:installLocation=["auto"] >
    . . .
</manifest>

<plugin name="cordova-plugin-device" />
<plugin name="cordova-plugin-file" />
<plugin name="cordova-plugin-inappbrowser" />
<plugin name="cordova-plugin-statusbar" />

    @GEOLOCATION

    <preference name="AndroidPersistentFileLocation" value="Internal" />
    <preference name="permissions" value="none" />
    <preference name="phonegap-version" value="cli-6.5.0" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />

</widget>
